@import "reset.css";
body{
    background-color: #f6f9fc;
    display: flex;
    flex-direction: column;
    align-items : center;
    padding-top : 30px;
}

.canvas{
    width : 500px;
    height : 500px;
    background-color: white;
    border-radius: 15px;
    box-shadow : 0 4px 6px rgba(53, 53, 53, 0.11), 0 1px 3px rgba(66, 66, 66, 0.88);
}

.controls_colors .controls_color{
    width : 50px;
    height : 50px;
    border-radius : 25px; 
    /* 테두리 둥글게 :  border-radius=width*0.5*/
    box-shadow : 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0, 0, 0, 0.88);
    margin-left : 5px;

}

.controls{
    display: flex;
    flex-direction: column;
    align-items : center;
    margin-top : 30px;
}

.controls .controls_colors{
    display : flex;
}

.controls .controls_btns{
    margin-bottom : 20px;
}

.controls .controls_btns button{
    all :unset;
    cursor: pointer;
    background-color: white;
    padding : 5px 0px;
    width : 80px;
    text-align : center;
    border-radius : 10px;
    box-shadow : 0 4px 6px rgba(66, 66, 66, 0.11), 0 1px 3px rgba(87, 87, 87, 0.88);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
}
.controls_btns button:active{
    transform : scale(0.98);
}

.controls .controls_range{
    margin-bottom : 20px;
}